﻿@model ErinHelenCars.Models.whipz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="background-color: #ffffff; opacity: 0.9; width: 956px; padding-top: 20px; padding-bottom: 20px;">
        <dt>
            @Html.DisplayNameFor(model => model.make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URLofPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URLofPicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvailable)
        </dd>

    </dl>
</div>
<div style = "text-shadow: 1px 1px #808080;" >
    @Html.ActionLink("Edit", "Edit", new { id = Model.vehicleID }) |
    @Html.ActionLink("Back to List", "Index")
</div>
