﻿@model IEnumerable<ErinHelenCars.Models.whipz>

@{
    ViewBag.Title = "Index";
}


<div class="row">
   <div class="col-xs-12">
       @Html.Partial("_AddCarModal")
   </div>
</div>


<table class="table" style="background-color: #ffffff; opacity: 0.9;">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.URLofPicture)*@
        </th>
        <th style="width: 185px;">
            @*@Html.DisplayNameFor(model => model.adTitle)*@
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.make)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.model)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.mileage)
        </th>
        <th style="width: 175px; text-align:center;">
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.isAvailable)
        </th>
        
        <th></th>
    </tr>
    @foreach (var item in Model) {  
        <tr>
            <td style="width:200px; height: auto;"> 
               <img src="@Url.Content(@item.URLofPicture)" style = "max-height:100%; max-width:100%">
            </td>
            <td><b>
            @Html.DisplayFor(modelItem => item.adTitle)
            </b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td align="right">
               $ @Html.DisplayFor(modelItem => item.price)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.vehicleID }) |
                @Html.ActionLink("Details", "Details", new { id = item.vehicleID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.vehicleID })
            </td>
        </tr>
  }

</table>

<div class="form-actions no-color" style="text-shadow: 1px 1px #808080;">
    @Html.ActionLink("Back to Home Page", "Index", "Home")
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/addCar.js"></script>
    <script src="~/Scripts/Validation.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

